<!DOCTYPE html>
<html>

<head>
    <title>E-Commerce Store</title>
</head>

<body>
    <h1>Welcome to the E-Commerce Application</h1>
    <p> You can log in via the admin panel.</p>
    <p>This is the landing page of the eCommerce web application.</p>

    <h2>Features</h2>
    <ul>
        <li><a href="/get/stores/">View Stores</a></li>
        <li><a href="/add/store/">Add Store</a></li>
        <li><a href="/get/products/">View Products</a></li>
        <li><a href="/add/product/">Add Product</a></li>
        <li><a href="/admin/">Login</a></li>
    </ul>
</body>

</html>